.body{
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar{
    display: flex;
    background: #000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.heading{
    font-size: 0.7rem;
}

.nav-links{
    display: flex;
    
    position: relative;
    align-items: center;
    gap: 2rem;
    right: 3rem;
}
.login{
    display: flex;
    gap: 2rem;
}
.login li{
    list-style-type: none;

}

.login li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}
