<div class="login">
    <div class="loginImg">
        <h2 routerLink="/home">BidMyArt</h2>
        
    </div>
    <div class="loginform">
        <h2>Please login</h2>
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
            <div>
                <label for="email">Email</label> <br>
                <input type="email" id="email" formControlName="email" placeholder="Enter email...">
                <div *ngIf="loginform.get('email')?.invalid && loginform.get('email')?.touched">
                    <div *ngIf="loginform.get('email')?.errors?.['required']" style="color: red;">Email is required</div>
                    <div *ngIf="loginform.get('email')?.errors?.['email']" style="color: red;">Email is invalid</div>

                </div>
            </div>
            <div>
                <label for="password">Password</label><br>
                <input type="password" id="password" formControlName="password" placeholder="Enter password...">
                <div *ngIf="loginform.get('password')?.invalid && loginform.get('password')?.touched">
                    <div *ngIf="loginform.get('password')?.errors?.['required']" style="color: red;">Password is required</div>
                </div>
            </div>
            <span routerLink="/forgot" class="resetp">Forgot password?</span>
            <div class="loginbtn">

                <button type="submit">Login</button>
            </div>
            
        </form>
        <div class="registerlink">
            <span>First time? <a routerLink="/register" >Sign up</a></span>
        </div>
    </div>
</div>
