<div class="login">
    <div class="loginImg">
        <h2 routerLink="/home">BidMyArt</h2>
        
    </div>
    <div class="registrationform">
        <h2>Reset password</h2>
        <form [formGroup]="resetPasswordform" >
          
            <div>
                <label for="email">Email</label> <br>
                <input type="email" id="email" formControlName="email" placeholder="Enter your email...">
                <div *ngIf="resetPasswordform.get('email')?.invalid && resetPasswordform.get('email')?.touched">
                    <div *ngIf="resetPasswordform.get('email')?.errors?.['required']" style="color: red;">Email is required</div>
                    <div *ngIf="resetPasswordform.get('email')?.errors?.['email']" style="color: red;">Email is invalid</div>

                </div>
            </div>
            
            <div class="registerbtn">

                <button type="submit">Reset password</button>
            </div>
            
        </form>
        <div class="loginlink">
            <span>Have an account? <a routerLink="/login" style="color: red; text-decoration: none;" >Sign In</a></span>
        </div>
    </div>
</div>


